*{
    margin:0;
    padding:0;
}

table {
    width: 100%;
}
thead{
    background-color: #c0c0c0;
}
tbody>tr:hover,
.active-row {
    cursor: pointer;
    background-color: #4db8ff;
    color: black;
}

.panel-default {
    border: 2px solid black;
}
.table-bordered {
    border: 2px solid black;
}